@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sela college<br />
    <br />
    <abbr title="Phone">P:</abbr>
    0556618460
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:israel.kusayev@gmail.com">israel.kusayev@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Shay161@gmail.com">Shay161@gmail.com</a>
</address>