
@{
    ViewBag.Title = "SelectLine";
}

<h2>SelectLine</h2>

<select>
    @foreach (var item in ViewBag.numbers)
    {
        <option onchange="@Html.Action("ShowCustomerInfo","Home")">
            @item
        </option>
    }
</select>
